.auth {
  width: 900px;
  min-height: 500px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e1e1e1
}
.auth__bg-circle {
  width: 200px;
  height: 200px;
  padding: 20px 0;
  background-color: #FAF2F2;
  border-radius: 50%;
}

.auth__form {
  padding: 10px 100px;
}