.calendar {
    background-color: white;
}

.calendar .days {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 70%;
    padding: 0.75em 0;
    border-bottom: 1px solid var(--border-color);
}

.cell {
    margin-top: 5px;
}

.cell__head {
    padding: 20px 10px;
    border-bottom: 1px solid #E1E1E1;
    width: 100%;
}

.cell__head-active {
    background-color: var(--primary-color);
}

.cell__head-active strong {
    color: var(--text-color);
}

.cell_tasks {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cell_task {
    position: relative;
    margin-top: 10px;
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 5px;
}
.cell_task__tag {
    position: absolute;
    top: 10px;
    right: 0px;
}
.cell_task__title {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.cell_task__description {
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cell_task:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.cell_task:hover * {
    color: var(--text-color) !important;
}
.cell_task:hover .ant-tag {
    background-color: var(--primary-color);
    top: -10px;
}
.cell_task:hover .ant-tag.ant-tag-warning {
    background-color: rgb(221, 152, 14);
}
.cell_task:hover .ant-tag.ant-tag-success {
    background-color: rgb(19, 163, 3);
}
.cell_task:hover .ant-tag.ant-tag-processing {
    background-color: rgb(31, 56, 220);
}

.cell__add:hover {
    cursor: pointer;
}

.cell__add:hover div {
    background-color: var(--primary-color);
}

.cell__add>div {
    border: 1px solid grey;
    border-radius: 5px;
}

.modal__upload .ant-upload {
    width: 100%;
}