
:root {
  --primary-color: #1890FF;
  --text-color: #FFFFFF;
  --background-grey: #DFDFDF
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* MARGIN */

.mt-20{
  margin-top: 20px;
}
 .mb-20  {
  margin-bottom: 20px;
 }
 .m-0 {
  margin: 0
 }

 /* Padding */
 .pl-10  {
  padding-left:  10px;
 }
 .pr-10 {
  padding-right:  10px;
 }
 /* TEXT */
.text-center {
  text-align: center;
}
.text-end {
  text-align: right;
}
.text-color {
  color: var(--text-color);
}
 m-0

/* WIDTH */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}

/* BORDER */
.border-white {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
}